body{font-family:Arial;background:#f2f2f2}
.products{display:flex;flex-wrap:wrap}
.card{background:white;width:220px;margin:15px;padding:10px;border-radius:6px}
.card img{width:100%;height:150px;object-fit:cover}
