<!DOCTYPE html>
<html>
<head>
<title>My Ecommerce Store</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Products</h1>

<div class="products">
{% for p in products %}
  <div class="card">
    <img src="{{ p.image.url }}">
    <h3>{{ p.name }}</h3>
    <p>₹{{ p.price }}</p>
    <p>{{ p.description }}</p>
  </div>
  <form action="/add-to-cart/{{ p.id }}/" method="POST">
    {% csrf_token %}
    <button>Add to Cart</button>
    </form>
    
{% endfor %}
</div>
</body>
</html>
